{% extends 'auth_app/base.html' %}
{% load static %}


{% block main %}
<!-- <div class="carousel-inner py-4">
    
    <div class="carousel-item active"> -->
      <div class="container">
        {% for user_image in user_images %}
        <div class="row mt-5">
          <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user_image.image_title }}</h5>
                    <p >{{ user_image.created_at}}</p>
                </div>
              <img
                src="{{ user_image.image_url }}"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <p class="card-text">
                    {{ user_image.image_description }}
                </p>
                <a href="{% url 'delete_image' pk=user_image.image_key %}" class="btn btn-primary">Delete</a>
                <!--     -->
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    <!-- </div>
  </div> -->
{% endblock main %}